*
{
	margin:0;
	padding:0;
}
#particles-js
{
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(purple.jpg);
	background-size:cover;
	background-position:center;
}
.logo
{
	margin-top:25px;
	font-size:28px;
	text-transform:uppercase;
}
.welcome
{
	margin-left:5%;
	position:absolute;
	color:#fff;
	font-family:sans-serif;
}
.welcome h1
{
margin-top:220px;
letter-spacing:2px;
font-size:42px;
text-transform:uppercase;	
}
.welcome p
{
margin-top:25px;
font-size:25px;
font-family:monospace;	
}
