@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
   font-family: 'Josefin Sans', sans-serif;
}

body{
  background: url("money.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 350px;
}

.checkout_wrapper{
  width: 500px;
  height: 350px;
  display: flex;
}

.checkout_wrapper .product_info{
  width: 51%;
  background: #ffb3ff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.checkout_wrapper .product_info img{
  width: 220px;
  margin-top: 30px;
  margin-left: 5px;
}

.checkout_wrapper .checkout_form{
  width: 55%;
  background: #ffff66;
  padding: 50px 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.checkout_wrapper .product_info .content{
  text-align: center;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
}

.checkout_wrapper .product_info .content h3{
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3px;
}

.checkout_wrapper .product_info .content p{
  margin-top: 10px;
  font-size:14px;
}

.checkout_form p{
  margin-bottom: 25px;
  font-size: 20px;
  text-transform: uppercase;
}

.checkout_form .details .section{
  margin-bottom: 15px;
}

.checkout_form .details .section input[type="text"]{
  width: 100%;
  padding: 10px;
  border: 2px solid #dddddd;
}

.checkout_form .details .section input[type="text"]:focus{
  border: 2px solid #e85c4d;
}

.checkout_form .details .section.last_section{
  display: flex;
  justify-content: space-between;
}

.checkout_form .details .section.last_section .item{
  width: 48%;
}

.checkout_form .details .btn{
  background: #003300;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  margin-top: 25px;
}

.checkout_form .details .btn a{
  color: #fff;
  letter-spacing: 5px;
  display: block;
}