* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

.container {
    width: 600px;
    background-color: lightblue;
    border-radius: 10px;
    margin: 0 auto 60px auto;
    position: relative;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.comp-area {
    width: 100%;
    height: 250px;
    background-color: salmon;
    border-radius: 10px 10px 0 0;
    text-align: center;
    position: relative;
}

.comp-area .fa-hand-paper {
    padding: 30px 34px;
}

i.fas {
    font-size: 60px;
    padding: 30px;
    background-color: #fff;
    border-radius: 50%;
    color: salmon;
    border: 5px solid grey;
}

.rocke {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-area {
    width: 100%;
    height: 250px;
    position: relative;
}

.con-area {
    width: 85%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con-area .fas {
    color: lightblue;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.con-area .fa-hand-paper {
    padding: 30px 34px;
}

.con-area .fas:hover {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.con-area .fas:active {
    top: -2px;
}

.result {
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.menus {
    width: 60px;
    padding: 10px;
    background-color: grey;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: -160px;
    transform: translate(-100%, -50%);
}

#score-comp {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: #fff;
}

#score-player {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

.menus span {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        margin: 0 10px;
    }

    h1 {
        font-size: 40px;
    }

    i.fas {
        font-size: 30px;
    }

    .menus {
        display: none;
    }
}